@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BarlowSemiCondensed-Regular;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf)
      format("woff");
  }
  @font-face {
    font-family: BarlowSemiCondensed-Bold;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
  }
  @font-face {
    font-family: BarlowSemiCondensed-Light;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
  }
}
html, body {
  font-family: BarlowSemiCondensed-Regular;
}

.bg-purple- {
  @apply bg-violet-500;
}

.bg-gray--light {
  @apply bg-gray-500;
}

.bg-gray--dark {
  @apply bg-gray-800;
}